.carousel-indicators {
  height: 18px; 
  border-radius: 50%;
  margin-top: 10px;
}

.carousel-indicators [data-bs-target] {
    position: relative;
    width: 4px; /* Adjust size as needed */
    height: 4px; /* Set width and height to be the same */
    border-radius: 50%;
    background-color: #eeeeee; 
    margin: 0 4px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }

.carousel-indicators button.active {
  background-color: #49148A;
}
