.carousel-indicators {
  height: 18px; 
}

.carousel-indicators [data-bs-target] {
    position: relative;
    width: 2px; /* Adjust size as needed */
    height: 2px; /* Set width and height to be the same */
    border-radius: 50%;
    border: 1px solid;
    border-color: #eeeeee;
    background-color: #eeeeee; 
    margin: 0 4px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }

.carousel-indicators button.active {
  background-color: #49148A;
  border: 1px solid;
    border-color: white;
}
